.order {
    width: 100%;
    border: none;
    padding: 20px;
    background: var(--orange);
    border-radius: 10px;
}
.text-table {
    font-size: 14px;
    line-height: 17px;
    max-width: 130px;
}
.list-text {
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-text-list);
}
.circle-btn {
    width: 28px;
    height: 28px;
    background: var(--orange);
    color: var(--white);
}
.circle-btn:hover {
    opacity: 0.75;
}