:root {
    --header-background: #F8F4FC;
    --text-basic: #354657;
    --text-grey: #626262;
    --line-background: #E2E2E2;
    --form-background: #F0F2F5;
    --radio-button: #946FD3;
    --white: #FFFFFF;
    --border-color: #B6B6B6;
    --border-circle: #D6D9DE;
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
body {
	font-family: 'Raleway', 'Tahoma',  sans-serif;
	margin: 0;
	font-weight: 400;
	font-style: normal;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.wrapper {
    max-width: 1288px;
	min-width: 375px;
	margin: 0 auto;
}
.header-background {
    width: 100%;
    background: var(--header-background);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 11px;
}
.logo-nav {
    display: flex;
    align-items: center;
}
.nav-menu,
.user-panel,
.breadcrumbs,
.socials {
    display: flex;
    padding: 0;
    margin: 0;
}
.img-logo {
    margin-right: 90px;
}
.nav-menu li, 
.user-panel li,
.socials li {
    list-style: none;
}
.nav-menu li:not(:last-child) {
    margin-right: 50px;
}
.user-panel li:not(:last-child) {
    margin-right: 34px;
}
.nav-menu__item {
    text-decoration: none;
    font-weight: bold;
    color: VAR(--text-basic);
}
.nav-menu__item:hover {
    color: var(--radio-button);
}
.breadcrumbs {
    align-items: center;
    padding: 16px 0;
}
.breadcrumbs li {
    position: relative;
    list-style: none;
    padding-right: 25px;
}
.breadcrumbs li:not(:last-child) {
    margin-right: 10px;
}
.breadcrumbs li:not(:last-child)::after {
    content: '';
    background-image: url('../img/arrow.svg');
    width: 15px;
    height: 8px;
    position: absolute;
    top: 5px;
    right: 0;
}
.breadcrumbs__item {
    font-size: 14px;
    line-height: 16px;
    color: var(--text-grey);
}
.heading {
    margin: 71px 0 0 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: var(--text-basic);
    padding-bottom: 17px;
    border-bottom: 1px solid var(--line-background);
}
.form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.user-date {
    width: 30%;
}
.radio-button {
    margin: 0 0 30px 0;
    border: none;
}
.form-background {
    padding: 20px;
    background: var(--form-background);
}
.form__name {
    margin: 0;
    color: var(--text-basic);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 20px;
}
.radio-text {
	position: relative;
	color: var(--text-grey);
	align-items: center;
	display: inline-flex;
	padding-bottom: 6px;
	cursor: pointer;
	padding-left: 25px;
    margin-right: 20px;
	min-height: 38px;
}
.radio-text::before{
	content: "";
	width: 17px;
	height: 17px;
	border: 1px solid var(--radio-button);
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 6px;
	background-color: transparent;
}
.radio-text::after{
	display: none;
	content: "";
	width: 11px;
	height: 11px;
	background: var(--radio-button);
	border-radius: 50%;
	position: absolute;
	left: 4px;
	top: 10px;
}
.default-radio:checked + .radio-text::after{
	display: block;
}
.default-radio:enabled + .radio-text:hover{
	color: var(--text-basic);
}
.default-radio:enabled + .radio-text:hover::before{
	background: var(--white);
}
.default-radio:disabled + .radio-text{
	opacity: 0.3;
	cursor: not-allowed;
}
.order {
    width: 68%;
}
.personal-data {
    margin: 0;
    border: none;
    padding-bottom: 10px;
}
.personal-data > h3 {
    padding-bottom: 30px;
}
.form__input {
    display: flex;
    flex-direction: column;
}
.form__input,
.form__input input,
.payment__more,
.payment__more textarea {
    font-size: 14px;
    line-height: 16px;
}
.form__input span {
    padding-bottom: 10px;
}
.form__input input,
.payment__more textarea {
    padding: 11px 20px;
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    margin-bottom: 20px;
}
.form__input input:focus,
.product__counter input:focus,
.payment__more textarea:focus {
    outline: none;
    border-color: var(--radio-button);
}
.form__input input:hover,
.product__counter input:hover,
.payment__more textarea:hover {
    background: var(--header-background);
}

.table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 31px;
}
.table__heading{
    background: var(--form-background);
}
.table__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--text-basic);
    padding: 12px 0;
    text-align: start;
}
.table__name:first-child {
    padding-left: 20px;
}
.table__name:last-child {
    padding-right: 20px;
}
.product {
    padding-top: 6px;
    padding-left: 20px;
}
.product__text {
    font-size: 14px;
    line-height: 28px;
    color: var(--text-basic);
}
.product__counter {
    display: flex;
    align-items: center;
}
.product__counter input {
    text-align: center;
    width: 47px;
    height: 32px;
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.renew {
    margin: 0 10px;
}
.text-end {
    text-align: end;
    padding-right: 30px;
}
.payment {
    display: flex;
    flex-direction: column;
}
.payment > .form__name {
    padding-bottom: 15px;
}
.payment__more {
    display: flex;
    flex-direction: column;
    color: var(--text-basic);
}
.payment__more span {
    margin-bottom: 10px;
}
.payment__more textarea {
    font-family: 'Raleway', 'Tahoma',  sans-serif;
    height: 86px;
    padding: 9px 11px;
    resize: none;
    margin-bottom: 16px;
}
.payment__checkbox {
    color: var(--text-basic);
	position: relative;
	padding-left: 25px;
	min-height: 25px;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}
.payment__checkbox::before {
	content: "";
	width: 17px;
	height: 17px;
	border: 1px solid var(--radio-button);
	border-radius: 2px;
	background: transparent;
	position: absolute;
	left: 0;
	top: 4px;
}
.payment__checkbox::after{
	display: none;
	content: "";
	width: 20px;
	height: 20px;
	background-image: url("../img/checked.svg");
	background-repeat: no-repeat;
	position: absolute;
	top: 8px;
	left: 2px;
}
.payment__basic:checked + .payment__checkbox::after {
	display: block;
}
.payment__basic:enabled + .payment__checkbox:hover {
	color: var(--text-grey);
}
.payment__basic:enabled + .payment__checkbox:hover::before {
	background-color: var(--white);
}
.payment__basic:disabled + .payment__checkbox {
	opacity: 0.3;
}
.form__submit {
    font-family: 'Raleway', 'Tahoma',  sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 35px 20px;
    align-self: flex-end;
    color: var(--white);
    background: var(--radio-button);
    border: 1px solid var(--radio-button);
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer;
}
.form__submit:hover {
    background: var(--white);
    color: var(--radio-button);
}
.footer {
    margin-top: 150px;
    border-top: 1px solid var(--line-background);
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.socials li:not(:last-child) {
    margin-right: 17px;
}
input.error{
    border-color: red;
}
.checkboxError {
    color: red;
}
.row {
    margin-top: 40px;
}
.line {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
    margin: 0;
}

.pl-pr-0 {
    padding-left: 0;
    padding-right: 0;
}
.card {
    border: none;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-btn {
    font-family: 'Raleway', 'Tahoma',  sans-serif;
    text-decoration: none;
    border-width:2px;
    border-style: solid;
    border-color: var(--radio-button);
    border-radius: 50px;
    font-weight: bold;
    color: var(--radio-button);
    align-self: self-start;
}
.card-btn:hover {
    color: var(--white);
    background: var(--radio-button);
}
.top {
    margin-top: 70px;
}
.map {
    width: 100%;
    border: none;
}
.circle {
    width: 61px;
    height: 61px;
    border: 2px solid var(--border-circle);
    border-radius: 50%;
}


@media screen and (max-width: 992px) {
	.footer__container {
        flex-direction: column;
    }
    .socials {
        margin-top: 20px;
    }
}
@media screen and (max-width: 768px) {
    .logo-nav {
        flex-direction: column;
    }
    .img-logo {
        margin-right: 0;
        margin-bottom: 20px;
    }
}