:root {
    --white: rgb(255, 255, 255);
    --grey-background: rgb(236, 236, 236);
    --grey-button: rgb(196, 196, 196);
    --grey-link: rgb(123, 123, 123);
    --grey-link-active: rgb(52, 52, 52);
    --grey-text: rgb(161, 161, 161);
    --grey-text-list: rgb(151, 151, 151);
    --grey-text-modal: rgb(68, 62, 62);
    --grey-modal-like-text: rgb(153, 153, 153);
    --orange: rgb(255, 108, 1);
    --orange-btn-header: rgb(239, 120, 26);
    --green: rgb(0, 208, 8);
    --green-heart: rgb(105, 160, 66);
    --black: rgb(0, 0, 0);
    --footer-background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}
body {
    font-family: 'Montserrat', 'Arial', sans-serif ;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
    height:100%;
    position:relative;
}
.content {
    height: 100vh;
    padding-bottom: 104px;
    background: var(--grey-background);
}
.wrapper {
    max-width: 1218px;
}
.background-white {
    background: var(--white);
}
.input-header {
    padding: 15px 0 15px 47px;
    width: 500px;
    border-color:  #323232 !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.position-adress {
    font-weight: 500;
    left: 32px;
}
.btn__header {
    font-family: 'Montserrat', 'Arial', sans-serif ;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 20px;
    color: var(--white);
    border-radius: 5px;
}
.btn__header:hover {
    color: var(--white);
    opacity: 0.75;
}
.btn__header:not(:last-child) {
    margin-right: 30px;
}
.btn__header-orange {
    background: var(--orange-btn-header);
}
.btn__header-green {
    background: var(--green);
}
.heading {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    margin-top: 60px;
    margin-bottom: 14px;
}
.nav-item:not(:last-child) {
    margin-right: 33px;
}
.nav-link {
    padding: 0;
    color: var(--grey-link);
}
.nav-link:hover {
    color: var(--grey-link-active);
}
.nav-link.active-link {
    background-color: var(--grey-button);
    color: var(--grey-link-active);
    border-radius: 10px;
    padding: 8px 6px;
}
.nav-link.active-link:hover {
    opacity: 0.75;
}
.subsection {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin-bottom: 35px;
}
.card-active {
    cursor: pointer;
}
.card-active:hover .add-cart {
    display: flex;
}
.card-active:hover .price {
    display: none;
}
.card-body {
    padding: 13px 27px;
}
.card-height {
    height: 100%;
}
.card-text {
    font-size: 10px;
    line-height: 12px;
    color: var(--grey-text);
}
.shadow-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.price {
    display: flex;
    color: var(--black);
    text-decoration: none;
    padding: 6.5px 23px;
}
.add-cart {
    display: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
    background: var(--orange);
    padding: 10px 23px;
    border-radius: 10px;
}
.add-cart:hover {
    opacity: 0.75;
    color: var(--white);
}
.heart:hover svg{
    fill: var(--green-heart);
}
.order {
    width: 100%;
    border: none;
    padding: 20px;
    background: var(--orange);
    border-radius: 10px;
}
.text-table {
    font-size: 14px;
    line-height: 17px;
}
.list-text {
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-text-list);
}
.circle-btn {
    width: 28px;
    height: 28px;
    background: var(--orange);
    color: var(--white);
}
.circle-btn:hover {
    opacity: 0.75;
}
.footer {
    background: var(--footer-background);
}
.footer-list:not(:last-child) {
    margin-right: 27px;
}
.footer-list a{
    color: var(--white);
}
.footer-social:not(:last-child) {
    margin-right: 18px;
}
.modal-dialog {
    max-width: 900px;
}
.modal-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}
.modal-text {
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-text-modal);
}
.modal-order {
    border: none;
    background: var(--orange);
    border-radius: 10px;
    min-width: 210px;
}
.modal-like-text {
    color: var(--grey-modal-like-text);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.modal-btn-like {
    border: none;
    max-width: 230px;
    background: var(--white);
    padding: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.counter {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding: 0 14px;
}
.counter-circle {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 992px) {
    .input-header {
        width: calc(100% - 50px);
    }
}
@media screen and (max-width: 767px) {
    .input {
        order: 1;
        margin-top: 20px;
    }
    .input-header {
        width: 100%;
    }
    .footer-manu {
        justify-content: space-around !important;
    }
    .order-list {
        order: -1;
    }
}
